body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
}

h1,
h2 {
    color: #333;
    text-align: center;
}

.navbar {
    margin-bottom: 20px;
}

img {
    border: 2px solid #ccc;
    margin-bottom: 20px;
}

#message {
    height: 150px;
}